@CHARSET "UTF-8";
* {
	font-family: monospace;	
}
div {	
	display: block;
	margin: 1px;
}
label div:first-child {
	width: 150px;
	display: inline-block;
}
label div:nth-child(2) {
	width: 150px;
	display: inline-block;
}
input[type=number] {
    border: 1px solid blue;
    border-radius: 4px;
	width: 100%;
	padding: 4px 2px;
	margin: 8px 0;
	text-align: right;
}
input[type=number]:focus {
    background-color: lightblue;
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 5px;
}
th {
	height: 2em;
}
tr {
	height: 1,5em;
	text-align: right;
}

tr:nth-child(2n) {
	background-color: #eeeeee;
}